.slideanimate {
    visibility: hidden;
    width: 100%;
}

.slide {
    animation: slide 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(100vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0vh);
    }
}